@font-face {
  font-family: "Icons";
  src: url(/fonts/icomoon.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

body *.container {
  position: relative;
  width: 1020px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.btn {
  display: inline-block;
  width: 146px;
  padding: 10px;
  font: inherit;
  vertical-align: top;
  text-align: center;
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border: 2px solid #a38b70;
  border-radius: 2px;
}

.btn:hover {
  color: #8d745a;
  border-color: #8d745a;
  cursor: url("img/paw.svg"), url("img/paw.svg");
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
  border-color: #8d745a;
}

.header {
  color: #c3c3c3;
  background-color: #363636;
  min-height: 590px;
  padding-top: 35px;
  background: url("/img/header-bg.jpg") no-repeat center;
  background-size: cover;
}

.header-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 205px 1fr 170px;
      grid-template-columns: 205px 1fr 170px;
  margin: 0 auto;
  margin-bottom: 125px;
}

.header-top-logo {
  float: left;
}

.header-top-logo img {
  width: 205px;
  height: 55px;
}

.header .main-nav {
  margin: 0;
  margin-top: 18px;
  margin-left: 125px;
  padding: 0;
  list-style: none;
}

.header .main-nav li {
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
}

.header .main-nav li:last-child {
  margin-right: 0;
}

.header .main-nav a {
  color: white;
  text-decoration: none;
}

.header .main-nav a:hover {
  text-decoration: underline;
}

.header .main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.header .btn-quick-order {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 6px;
  color: white;
  border-color: white;
}

.header .btn-quick-order:hover {
  color: #404040;
  background-color: white;
  border-color: white;
}

.header .btn-quick-order:active {
  color: rgba(64, 64, 64, 0.3);
  background-color: white;
  border-color: white;
}

.header .nav-burger-menu #menu__toggle {
  opacity: 0;
}

.header .nav-burger-menu :checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-burger-menu :checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header .nav-burger-menu :checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .nav-burger-menu :checked ~ .nav-box {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.header .nav-burger-menu .nav-box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: -100%;
  right: 20px;
  width: 200px;
  height: 150px;
  opacity: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  list-style: none;
  text-align: center;
  background-color: #a38b70;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header .nav-burger-menu .nav-box a.burger-item {
  display: block;
  padding: 15px 45px;
  color: white;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
}

.header .nav-burger-menu .nav-box a.burger-item:hover {
  background-color: #8d745a;
  text-decoration: underline;
}

.header .nav-burger-menu .menu__btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5px;
  right: 25px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}

.header .nav-burger-menu .menu__btn > span,
.header .nav-burger-menu .menu__btn > span::before,
.header .nav-burger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 20%;
  background-color: white;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header .nav-burger-menu .menu__btn > span::before {
  content: "";
  top: -16px;
}

.header .nav-burger-menu .menu__btn > span::after {
  content: "";
  top: 16px;
}

.header .promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: center;
}

.header .promo a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 55px;
}

.feature-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 279px;
  padding: 90px 30px 0 30px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.feature-item p {
  margin: 0;
}

.feature-item:first-child {
  border-left-color: transparent;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 137px;
  width: 65px;
  height: 65px;
  background: url("/img/sprite.png") no-repeat;
}

.feature-choice::before {
  background-position: -5px -5px;
}

.feature-quality::before {
  background-position: -5px -76px;
}

.feature-safety::before {
  background-position: 1px -143px;
}

.section-title {
  margin: 0 180px 60px 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f2f2f2;
}

.cat-reference .to-full-reference {
  position: absolute;
  top: 5px;
  right: 0;
}

.cat-reference .theory-container:first-child {
  margin-bottom: 70px;
}

.cat-reference dl {
  margin: 0;
  padding: 0;
}

.cat-reference dt {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.cat-reference .reference-source {
  font-weight: normal;
  font-size: 16px;
  color: #666666;
  font-style: italic;
}

.cat-reference .reference-source a {
  position: relative;
  color: #a38b70;
}

.cat-reference .reference-source a :hover {
  color: #8d745a;
}

.cat-reference .reference-source a :active {
  color: rgba(141, 116, 90, 0.3);
}

.cat-reference .reference-source a ::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 8px;
  height: 8px;
  background: url("/img/sprite.png") no-repeat -5px -210px;
}

.cat-reference dd {
  position: relative;
  min-height: 100px;
  margin: 0;
  padding-left: 130px;
}

.cat-reference dd img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.review {
  padding-top: 70px;
  padding-bottom: 30px;
}

.review .to-all-reviews {
  position: absolute;
  top: 0;
  right: 0;
}

.review-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.review-item {
  margin: 0 80px 60px 0;
  padding: 0 0 0 50px;
  border-left: 3px solid #a38b70;
}

.review-item p {
  margin: 0;
  margin-bottom: 15px;
}

.review-item .review-author {
  font-weight: bold;
  font-style: italic;
}

.popular-and-price {
  padding: 70px 0 90px 0;
  background-color: #f2f2f2;
}

.popular-and-price .to-catalog {
  position: absolute;
  top: 3px;
  right: 0;
}

.popular-and-price .popular-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 308px 308px 308px;
      grid-template-columns: 308px 308px 308px;
  gap: 48px;
  margin-bottom: 70px;
}

.popular-and-price .popular-items .catalog-item {
  position: relative;
  float: left;
  padding: 15px 22px;
  padding-top: 221px;
  border: 1px solid #d8d8d8;
}

.popular-and-price .popular-items .catalog-item:last-child {
  margin-right: 0;
}

.popular-and-price .popular-items .catalog-item img {
  position: absolute;
  top: 0;
  left: 0;
}

.popular-and-price .popular-items .catalog-item h3 {
  float: left;
  max-width: 205px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
}

.popular-and-price .popular-items .catalog-item-price {
  float: right;
  max-width: 55px;
  margin-bottom: 20px;
}

.popular-and-price .popular-items .catalog-item .btn {
  width: 101px;
  color: #ffffff;
  background-color: #a38b70;
}

.popular-and-price .popular-items .catalog-item .btn:hover {
  background-color: #8d745a;
}

.popular-and-price .popular-items .catalog-item .btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.popular-and-price .popular-items .catalog-item .btn-info {
  float: left;
  clear: left;
}

.popular-and-price .popular-items .catalog-item .btn-buy {
  float: right;
}

.popular-and-price .price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.popular-and-price .price-list th {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.popular-and-price .price-list td {
  border: 1px solid #d8d8d8;
}

.popular-and-price .price-list th, .popular-and-price .price-list td {
  padding: 10px 17px;
}

.popular-and-price .price-list-number {
  width: 15px;
  text-align: center;
}

.popular-and-price .price-list-name {
  width: 422px;
  font-weight: bold;
  color: #000000;
}

.popular-and-price .price-list-master {
  width: 306px;
}

.popular-and-price .price-list-cost {
  width: 135px;
}

.feedback {
  padding: 60px 0 70px 0;
}

.feedback .section-title {
  max-width: 500px;
}

.feedback-tip {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 630px;
  padding-right: 390px;
  background: url("/img/write.jpg") no-repeat 100% 30px;
}

.feedback-form-group {
  margin-bottom: 15px;
  padding: 0;
}

.feedback-form-group label {
  display: inline-block;
  padding: 5px 0;
  padding-left: 17px;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-form-group-left-part {
  float: left;
  width: 290px;
}

.feedback-form-group-right-part {
  float: right;
  width: 290px;
}

.feedback-form-group input[type="text"], .feedback-form-group select, .feedback-form-group textarea {
  width: 100%;
  padding: 9px 15px;
  height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}

.feedback-form-group input[type="text"]:hover,
.feedback-form-group select:hover,
.feedback-form-group textarea:hover {
  border-color: #bebebe;
}

.feedback-form-group input[type="text"]:focus,
.feedback-form-group select:focus,
.feedback-form-group textarea:focus {
  border-color: #8d745a;
}

.feedback-form .checkbox-area {
  margin-bottom: 25px;
  padding: 25px 0;
  padding-left: 17px;
  border-bottom: 1px solid #d5d5d5;
}

.feedback-form .checkbox-area input[type="checkbox"] {
  margin: 0;
  margin-right: 5px;
}

.feedback-form textarea {
  display: block;
  min-height: 120px;
}

.feedback-form .btn {
  margin-top: 40px;
  background-color: #a38b70;
  color: white;
}

.feedback-form .btn:hover {
  background-color: #8d745a;
}

.feedback-form .btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  padding: 45px 0 50px 0;
  color: #c3c3c3;
  background-color: #363636;
}

.footer-top {
  margin-bottom: 45px;
}

.footer-top .footer-logo {
  width: 205px;
  height: 55px;
}

.footer-top .footer-logo img {
  width: 205px;
  height: 55px;
}

.footer-top .btn-quick-order {
  position: absolute;
  top: 5px;
  right: 0;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  padding-top: 50px;
}

.footer-middle .footer-menu {
  width: 150px;
  margin-right: 20px;
}

.footer-middle .footer-menu h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.footer-middle .footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-middle .footer-menu li {
  margin-bottom: 15px;
}

.footer-middle .footer-menu li a {
  color: #c3c3c3;
  text-decoration: none;
}

.footer-middle .footer-menu li a:hover {
  color: #ffffff;
}

.footer-middle .footer-menu li a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle, .footer-bottom {
  border-top: 1px solid #5e5e5e;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
}

.footer-bottom .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 490px;
  font-size: 0;
}

.footer-bottom .footer-social b {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 40px;
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.footer-bottom .footer-social .social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: url("/img/sprite.png") no-repeat;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom .footer-social .social-btn:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.footer-bottom .footer-social .social-btn:active {
  border-color: #ffffff;
  opacity: 0.1;
}

.footer-bottom .footer-social .social-btn-vk {
  background-position: 16px -238px;
}

.footer-bottom .footer-social .social-btn-fb {
  background-position: 19px -297px;
}

.footer-bottom .footer-social .social-btn-in {
  background-position: 13px -358px;
}

.footer-bottom .footer-copyright {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 236px;
  margin-top: 17px;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-bottom .footer-copyright .heart {
  display: inline-block;
  width: 27px;
  height: 24px;
  font-size: 0;
  vertical-align: middle;
  background: url("/img/sprite.png") no-repeat -5px -419px;
}

.footer-bottom .footer-copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom .footer-copyright a:hover {
  text-decoration: underline;
}

.footer-bottom .footer-copyright a:active {
  color: rgba(255, 255, 255, 0.3);
}

#fixed {
  opacity: 0;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup2.open {
  opacity: 1;
  visibility: visible;
}

.popup2.open .popup2-content {
  -webkit-transform: perspective(600px) translate(0) rotateX(0deg);
          transform: perspective(600px) translate(0) rotateX(0deg);
  opacity: 1;
}

.popup2-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup2-content {
  position: relative;
  background-color: white;
  color: #000000;
  width: 650px;
  height: 360px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup2-content .popup2-image {
  position: absolute;
  top: 90px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.popup2-content .popup2-image img {
  height: 100%;
  width: auto;
}

.popup2-close {
  font-family: "Icons";
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  position: absolute;
  right: 30px;
  top: 25px;
}

.popup2-close:hover {
  color: #a38b70;
}

.popup2-close:active {
  color: #8d745a;
}

.popup2-title {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 1em 0;
}

.popup-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 330px;
  margin-right: 20px;
}

.popup-info .popup2-text {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 25px;
}

.popup-info .colors-title,
.popup-info .sizes-title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-info .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0;
  padding-left: 5px;
  margin-bottom: 20px;
}

.popup-info .colors input[type="radio"] {
  display: none;
}

.popup-info .colors label[for="white"] {
  font-size: 0;
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  outline: solid 1px #d9d9d9;
  outline-offset: 4px;
  cursor: pointer;
}

.popup-info .colors label[for="white"]:hover {
  outline-color: #a3a3a3;
}

.popup-info .colors label[for="brown"] {
  font-size: 0;
  width: 25px;
  height: 25px;
  background-color: #a38b70;
  outline: solid 1px #d9d9d9;
  outline-offset: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.popup-info .colors label[for="brown"]:hover {
  outline-color: #a3a3a3;
}

.popup-info .colors input:checked + label {
  outline: solid 1.5px #949494;
}

.popup-info .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.popup-info .sizes input[type="radio"] {
  display: none;
}

.popup-info .sizes label[for="XS"],
.popup-info .sizes label[for="M"],
.popup-info .sizes label[for="XL"] {
  font-size: 16px;
  height: 25px;
  padding: 0 7px 0 7px;
  outline: solid 1px #d9d9d9;
  cursor: pointer;
  margin-left: 10px;
}

.popup-info .sizes label[for="XS"]:hover,
.popup-info .sizes label[for="M"]:hover,
.popup-info .sizes label[for="XL"]:hover {
  outline-color: #a3a3a3;
}

.popup-info .sizes label[for="XS"] {
  margin-left: 0;
}

.popup-info .sizes input:checked + label {
  outline: solid 1.5px #949494;
}

/* ADAPTIVITY */
@media screen and (max-width: 1024px) {
  body .container {
    width: 740px;
  }
  .header {
    min-height: 490px;
  }
  .header .header-top {
    width: 740px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .header .header-top .main-nav {
    position: relative;
    display: none;
  }
  .header .header-top .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature .feature-item {
    width: 300px;
  }
  .feature .feature-item:nth-child(3) {
    margin-top: 50px;
    border-left: none;
  }
  .feature .feature-item::before {
    left: 147px;
  }
  .reviews-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .popular-and-price .popular-items {
    -ms-grid-columns: 346px 346px;
        grid-template-columns: 346px 346px;
  }
  .popular-and-price .popular-items .catalog-item {
    padding-top: 250px;
  }
  .popular-and-price .popular-items .catalog-item img {
    width: 344px;
    height: auto;
  }
  .popular-and-price .price-list th {
    font-size: 12px;
  }
  .feedback .feedback-tip {
    position: relative;
    margin-top: -40px;
    margin-bottom: 35px;
  }
  .feedback .feedback-form {
    background: none;
    padding-right: 0;
    width: 740px;
  }
  .feedback .feedback-form .feedback-form-group-left-part,
  .feedback .feedback-form .feedback-form-group-right-part {
    width: 340px;
  }
}

@media screen and (max-width: 768px) {
  body .container {
    width: 400px;
  }
  .header {
    min-height: 400px;
  }
  .header .header-top {
    width: 380px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
  }
  .header .header-top .header-logo {
    float: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .header-top .header-logo img {
    width: 150px;
    height: auto;
  }
  .header .header-top .btn-quick-order {
    display: none;
  }
  .header .promo a {
    font-size: 35px;
    line-height: 45px;
  }
  .feature-item {
    width: 320px !important;
    border-left: none;
    margin-top: 45px;
  }
  .feature-item:first-child {
    margin-top: 0;
  }
  .feature-item::before {
    left: 157px !important;
  }
  .section-title {
    margin-right: 30px;
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 45px;
  }
  .cat-reference .btn.to-full-reference {
    position: relative;
    margin-bottom: 35px;
  }
  .cat-reference .reference-title {
    font-size: 20px;
  }
  .review .btn.to-all-reviews {
    position: relative;
    display: block;
    margin-bottom: 35px;
  }
  .review .review-item {
    margin-right: 30px;
    padding-left: 30px;
  }
  .popular-and-price .popular-items {
    -ms-grid-columns: 346px;
        grid-template-columns: 346px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular-and-price .btn.to-catalog {
    position: relative;
    margin-bottom: 30px;
    margin-left: 28px;
  }
  .popular-and-price .price-list .price-cost {
    padding-right: 0;
  }
  .feedback-tip {
    margin-top: 20px !important;
    margin-bottom: 35px;
  }
  .feedback-form {
    width: 400px !important;
  }
  .feedback-form-group-left-part, .feedback-form-group-right-part {
    float: none !important;
    width: 100% !important;
  }
  .feedback-form input[type="submit"].btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-middle h3 {
    font-size: 20px;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 30px;
  }
  .footer-bottom b {
    margin-right: 0 !important;
    padding-bottom: 20px;
  }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-copyright {
    text-align: center !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  body .container {
    width: 300px;
  }
  .header .header-top {
    width: 300px;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    margin-bottom: 60px;
  }
  .header .header-top .header-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header .promo a {
    font-size: 30px;
    line-height: 40px;
  }
  .cat-reference {
    padding-top: 50px;
  }
  .cat-reference .btn.to-full-reference {
    position: relative;
    margin-bottom: 35px;
  }
  .cat-reference .theory-container .reference-source {
    display: block;
  }
  .cat-reference .theory-container dd {
    padding-left: 0;
  }
  .cat-reference .theory-container dd img {
    position: relative;
    padding: 10px 0;
  }
  .review {
    padding-top: 50px;
    margin-bottom: 0px;
  }
  .popular-and-price .popular-items {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  .popular-and-price .popular-items .catalog-item {
    padding-top: 220px;
  }
  .popular-and-price .popular-items .catalog-item img {
    width: 300px;
    height: auto;
  }
  .popular-and-price .price-list {
    font-size: 12px;
    line-height: 20px;
  }
  .popular-and-price .price-list th {
    font-size: 10px;
    line-height: 20px;
    padding-right: 0;
  }
  .popular-and-price .price-list td {
    padding-right: 0;
  }
  .popular-and-price .price-list td.price-number {
    padding-left: 10px;
  }
  .feedback-form {
    width: 300px !important;
  }
  .footer .footer-top .footer-logo {
    margin: 0 auto;
  }
  .footer .footer-top .btn-quick-order {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer .footer-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-middle .footer-menu {
    text-align: center;
  }
}

@media screen and (max-width: 340px) {
  .feature-item::before {
    left: 137px !important;
  }
  .feature-item::before:nth-child(3) {
    left: 120px !important;
  }
}
/*# sourceMappingURL=style-refact.css.map */